build/
devel/
install/
.vscode/
log/
src/lifting_ctrl_ros2_pkg/lifting_ctrl_ros2_pkg/scripts
*.7z
# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
